# Example YAML to get you started quickly.
# Be aware that YAML has indentation based scoping.
# Code completion support is available so start typing for available options.
swagger: '2.0'

# This is your document metadata
info:
  version: "0.1.0"
  title: PistachoBizi API

host: recu.synology.me:8080
basePath: /bizi/api

schemes: 
  - http

# Describe your paths here
paths:
  # This is a path endpoint. Change it.
  /towns:
    # This is a HTTP operation
    get:
      # Describe this verb here. Note: you can use markdown
      description: |
        Gets `Town` objects.
      produces: 
      - application/json
      # Expected responses for this operation:
      responses:
        # Response code
        200:
          description: Successful response
          # A schema describing your response object.
          # Use JSON Schema format
          schema:
            title: towns
            type: array
            items:
              type: object
              properties:
                id:
                  type: integer
                town:
                  type: string
  /weather/{townId}/{envelope}:
    get:
      description: |
        Gests weather for given `townId` inside specified `envelope`
      parameters: 
        - name: townId
          in: path
          description: the town ID according to Spain
          required: true
          type: integer
          minimum: 50001
          maximum: 50298
        - name: envelope
          in: path
          description: the envelope in which weather must be requested 
                        either JSON or XML
          required: true
          type: string
          enum: [ "JSON", "XML" ]
      produces:
      - text/html
      responses:
        200:
          description: Successful response

