<navbar></navbar>

<div class="container margin-to-navbar height-90">
    <div class="row height-90">
        <div class="col-md-3">
            <div class="jumbotron">
                <form ng-submit="findRoute()">
                    <div class="input-group">
                        <div class="input-group-addon">
                            <span class="glyphicon glyphicon-log-out"></span>
                        </div>
                        <input class="form-control" type="text" id="origin" ng-model="origin" placeholder="Origin" g-places-autocomplete>
                        <div class="input-group-btn">
                            <a class="btn btn-primary" ng-click="geolocate()" data-toggle="tooltip" data-placement="top" title="" data-original-title="Geolocate!">
                                <span class="glyphicon glyphicon-screenshot"></span>
                            </a>
                        </div>
                    </div>
                    <br>
                    <div class="input-group">
                        <div class="input-group-addon">
                            <span class="glyphicon glyphicon-log-in"></span>
                        </div>
                        <input class="form-control" type="text" id="destination" ng-model="destination" placeholder="Destination" readonly>
                    </div>
                    <br>
                    <div class="input-group">
                        <div class="input-group-addon">
                            <span class="glyphicon glyphicon-envelope"></span>
                        </div>
                        <select class="form-control" ng-model="infEnvelope" ng-options="e.env for e in envelopes">
                        </select>
                    </div>
                    <br>
                    <button class="btn btn-block btn-primary" type="submit">Route me!</button>
                </form>
            </div>
        </div>
        <div class="col-md-6 height-100">
            <div class="jumbotron height-100">
                <div id="map"></div>
            </div>
        </div>
        <div class="col-md-3 height-100">
            <div class="jumbotron height-100">
                <div class="height-70 weather-box">
                    <div id="weather" class="height-100 weather-style">
                        :D
                    </div>
                </div>
                <div class="height-30">
                    <form ng-submit="getWeather()">
                        <div class="input-group">
                            <div class="input-group-addon">
                                <span class="glyphicon glyphicon-globe"></span>
                            </div>
                            <select class="form-control" ng-model="town" ng-options="t.town for t in towns">
                            </select>
                        </div>
                        <br>

                        <div class="input-group">
                            <div class="input-group-addon">
                                <span class="glyphicon glyphicon-envelope"></span>
                            </div>
                            <select class="form-control" ng-model="weaEnvelope" ng-options="e.env for e in envelopes">
                            </select>
                        </div>
                        <button class="btn btn-block btn-primary" type="submit">Get weather!</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container">
        <div class="navbar-header text-center">
            <p class="navbar-brand" style="margin-bottom: 0">PistachoBizi belongs to PistachoSoft™</p>
        </div>
    </div>
</footer>