/*.margin-to-navbar {*/
    /*margin-top: 75px;*/
/*}*/

html,body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.custom-jumbo {
    margin-top: 30px;
    padding: 10px;
    background-color: #d5dddc;
    border-radius: 10px;
}

ui-view > div.container {
    margin: 0;
    width: 100%;
}

.height-10 {
    height: 10%;
}

.height-30 {
    height: 30%;
}

.height-70 {
    height: 70%;
}

.height-90 {
    height: 90%;
}

.height-100 {
    height: 100%;
}

.row {
    padding-top: 60px;
}

.weather-box {
    padding-bottom: 10px;
}

.weather-style {
    border-radius: 10px;
    background-color: #ffffff;
    text-align: center;
}

.weather-table {
    width: 100%;
    height: 100%;
}

th, thead {
    background-color: #337ab7;
}

td, th {
    text-align: center;
}

div.weather-style table {
    width: 100%;
    height: 100%;
}

#map {
    height: 100%;
}